.vscode
build
lib

compile_debug.bat
compile_release.bat
imgui.ini

libgcc_s_seh-1.dll
libjpeg-9.dll
libpng16-16.dll
libstdc++-6.dll
libtiff-5.dll
libwebp-7.dll
libwinpthread-1.dll
lua54.dll

SDL2_image.dll
SDL2.dll
zlib1.dll

world2d.exe